body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:#444;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

header,footer{
  background-color:rgb(208, 208, 208);
  overflow:hidden;
  padding:10px 10px;
}

header img,footer img{
  width: 120px;
  float: left;
}
header ul,footer ul{
  list-style:none;
  float: right;
}
header ul li,footer ul li{
  float: left;
  padding: 25px 10px;  
  font-weight: bold;
}
header a,footer a{
  text-decoration: none;
}
header a:hover,footer a:hover{
  text-decoration: underline;
}

main{
  text-align: center;
}
.about{
  clear: both;
}
.about_p{
  width: 650px;
  border:1px solid #999;
  margin: auto;
  padding: 10px 10px;
  text-align: left;
  line-height: 1.8;
}
.skill{
  width: 650px;
  border:1px solid #999;
  margin: auto;
  padding: 10px 10px;
}
.box{
  width: 100px;
	height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  float: left;
  color:white;
}
.html{
	background-color: rgb(104, 156, 224);
}
.css{
	background-color: rgb(104, 156, 224);
}
.skill_p{
  clear: both;
  padding: 10px 10px;
  line-height: 1.8;
}
.port{
  width: 650px;
  border:1px solid #999;
  margin: auto;
  padding: 10px 10px;
  line-height: 1.8;
}
.port img{
  width:120px;
}
.contact{
  width: 650px;
  border:1px solid #999;
  margin: auto auto 20px auto;
  padding: 10px 10px;
}
table{
	width:100%;
	text-align: left;
}
table th{
	padding: 10px;
	background-color: lightblue;
}
table td{
	padding: 3px 10px;
	background-color: lightsteelblue;
}
